
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-right: 0.3rem;
box-sizing: content-box;
}
.search__label{
margin-left: 0.6rem;
}
  
  .search__input {
    display: flex;
    font-family: inherit;
    font-size: 1.2rem;
    background-color: white;
    border: none;
    color: black;
    padding: 3px 10px;
    border-radius: 30px;
    width: 100%;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
color: gray;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
    position: relative;
    right: 5px;
  }
  .search__buttonclose{
    color: gray;
    position: relative;
    right: 5px;
    width: 20px;
    font-size: 1.4rem;
    background-color: whitesmoke;
  }
  .search__buttonclose:hover{
    color: black;
  }


  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    color: gray;
  }
.search__icon:hover{
color: black;
}
.search_p{
font-size: 1rem;
margin-left: 1rem;
}
.search_alert{
position: absolute;
top: 4.3rem;
right: 4.3rem;
color: rgb(192, 25, 25);

}
@media (max-width: 350px) {
.search_p{
font-size: smaller;
}
}
